<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yq.sharding.mybatis.mapper.UserMapper">

    <select id="findOne" resultType="User">
        SELECT * FROM t_user WHERE id = #{id}
    </select>

    <select id="findAllOrder" resultType="User">
        SELECT * FROM t_user order by id DESC limit 50000, 10
    </select>

    <insert id="save" parameterType="User">
        INSERT INTO t_user(name, phone, email, city_id, sex, password)
        VALUES (#{name}, #{phone}, #{email}, #{cityId}, #{sex}, #{password})
    </insert>

</mapper>